node-red/flows.json
[{"id":"ddbade6b.7f38c","type":"tab","label":"Metrics to Prometheus","disabled":false,"info":""},{"id":"9da71bb2.db31a8","type":"tls-config","name":"","cert":"","key":"","ca":"/data/certs/ca.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"9439bb91.722b88","type":"mqtt-broker","name":"","broker":"ssl://host.docker.internal:1883","port":"1883","tls":"9da71bb2.db31a8","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4686fd99.6201c4","type":"prometheus-metric-config","name":"zencontrol_arc","help":"Arc level for zencontrol sensors","labels":"device, gateway, type, category","mtype":"gauge"},{"id":"7cce979d.d1d0c8","type":"prometheus-metric-config","name":"zencontrol_motion","help":"Sensor motion detection","labels":"device, gateway, type, category","mtype":"counter"},{"id":"72291049.47bd2","type":"prometheus-metric-config","name":"zencontrol_lux","help":"Lux value","labels":"device, gateway, type, category","mtype":"gauge"},{"id":"62a0ff97.7d0ff","type":"mqtt in","z":"ddbade6b.7f38c","name":"","topic":"zencontrol/v1/#","qos":"2","datatype":"json","broker":"9439bb91.722b88","nl":false,"rap":true,"rh":0,"x":160,"y":460,"wires":[["511e9f50.899c5"]]},{"id":"d2e039ab.89cc18","type":"prometheus-exporter","z":"ddbade6b.7f38c","name":"Expose Arc Metric","metric":"4686fd99.6201c4","x":1170,"y":420,"wires":[]},{"id":"c5794a3c.008e68","type":"template","z":"ddbade6b.7f38c","name":"Arc Metric","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"op\": \"set\",\n    \"val\": {{payload.arc}},\n    \"labels\": {\n        \"gateway\": \"{{payload.gateway}}\",\n        \"type\": \"{{payload.type}}\",\n        \"device\": \"{{payload.device}}\",\n        \"category\": \"{{payload.category}}\"\n    }\n}","output":"json","x":900,"y":420,"wires":[["d2e039ab.89cc18"]]},{"id":"eacdfcf2.5a991","type":"switch","z":"ddbade6b.7f38c","name":"Route","property":"payload.category","propertyType":"msg","rules":[{"t":"eq","v":"level","vt":"str"},{"t":"eq","v":"motion","vt":"str"},{"t":"eq","v":"lux","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":460,"wires":[["c5794a3c.008e68"],["79bf8f83.6e12"],["f354c306.c7813"]]},{"id":"79bf8f83.6e12","type":"template","z":"ddbade6b.7f38c","name":"Motion Metric","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"op\": \"inc\",\n    \"labels\": {\n        \"gateway\": \"{{payload.gateway}}\",\n        \"type\": \"{{payload.type}}\",\n        \"device\": \"{{payload.device}}\",\n        \"category\": \"{{payload.category}}\"\n    }\n}","output":"json","x":920,"y":460,"wires":[["50dbc657.0ee038"]]},{"id":"50dbc657.0ee038","type":"prometheus-exporter","z":"ddbade6b.7f38c","name":"Expose Motion Metric","metric":"7cce979d.d1d0c8","x":1180,"y":460,"wires":[]},{"id":"f354c306.c7813","type":"template","z":"ddbade6b.7f38c","name":"Lux Metric","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"op\": \"set\",\n    \"val\": {{payload.lux}},\n    \"labels\": {\n        \"gateway\": \"{{payload.gateway}}\",\n        \"type\": \"{{payload.type}}\",\n        \"device\": \"{{payload.device}}\",\n        \"category\": \"{{payload.category}}\"\n    }\n}","output":"json","x":910,"y":500,"wires":[["21670541.d9ad1a"]]},{"id":"21670541.d9ad1a","type":"prometheus-exporter","z":"ddbade6b.7f38c","name":"Expose Lux Metric","metric":"72291049.47bd2","x":1170,"y":500,"wires":[]},{"id":"511e9f50.899c5","type":"function","z":"ddbade6b.7f38c","name":"Map Topic","func":"var parts = msg.topic.split(\"/\");\n\nmsg.payload.gateway = parts[2]; // Gateway\nmsg.payload.type = parts[3]; // ECG/ECD\nmsg.payload.device = parts[4]; //Device\nmsg.payload.category = parts[5]; //Lux/Level/Motion/etc\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":460,"wires":[["eacdfcf2.5a991"]]}]
